@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
}



.main-div {
  background-color: black;
  margin: 0;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
}

.navbar div {
  margin: 0.5rem 2rem;
}

.links a{
  margin: 0 1rem;
  color: black;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  transition: 0.5s;
}

.links a:hover {
  box-shadow:0 0 10px 5px #0ff,
  inset 0 0 10px 2px #0ff;
}

.homepage {
  background-image: url("/src/images/navbar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}