@import url("https://fonts.googleapis.com/css2?family=Candal&family=Erica+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-div {
  margin: 0;
}

.navbar {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white(153, 147, 147);
  align-items: center;
}

.navbar div {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar h5 {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0;
}

.navbar p {
  font-size: 1.3rem;
  font-weight: 300;
}

a {
  margin: 0 1rem;
  color: black;
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  border-radius: 2rem;
  transition: 0.35s;
  font-size: 1.2rem;
  font-weight: 200;
}

a:hover {
  box-shadow: 0 0 10px 2px rgba(0, 251, 255, 0.699),
    inset 0 0 10px 2px rgba(0, 251, 255, 0.365);
  border: 1px solid rgb(0, 251, 255);
}

.footer {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 2rem;
  padding: 0.5rem 3rem;
  border-radius: 3rem;
}

.footer a p {
  font-size: 1.1rem;
  font-weight: 900;
  padding: 0 1rem;
}

.footer img {
  width: 40px;
  height: 40px;
}

.homepage {
  background-color: white;
  height: 65vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage h3 {
  font-weight: 200;
  font-size: 1.4rem;
  color: black;
}

.homepage-one {
  border: 1px solid rgb(0, 251, 255);
  border-radius: 1rem;

  box-shadow: 0 0 10px 3px rgba(116, 234, 255, 0.699),
    inset 0 0 10px 2px rgba(116, 234, 255, 0.699);
  color: black;
  width: 50vw;
  margin: 0 auto;
}

.homepage-one h1 {
  font-weight: 200;
  font-size: 3rem;
}

.homepage-one h2 {
  font-weight: 200;
  font-size: 2.3rem;
}

.homepage-two {
  padding: 3rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 4rem;
}

.homepage-two img {
  height: 30vw;
  box-shadow: rgba(46, 240, 237, 0.4) 5px 5px, rgba(46, 240, 237, 0.3) 10px 10px,
    rgba(46, 240, 237, 0.2) 15px 15px, rgba(46, 240, 237, 0.1) 20px 20px,
    rgba(46, 240, 237, 0.05) 25px 25px;
}

.about-me {
  width: 50vw;
  color: black;
  padding: 1rem 2rem;
}

.about-me h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.about-me p {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: justify;
}

.text-underline {
  border: 1px solid rgba(46, 240, 237, 1);
  width: 20vw;
  box-shadow: 0 0 5px 2px rgba(0, 251, 255, 0.577);
}

.cv {
  border: 1px solid black;
  padding: 1rem 3rem;
  text-decoration: none;
  color: black;
  box-shadow: rgba(46, 240, 237, 0.4) 4px 4px, rgba(46, 240, 237, 0.3) 8px 8px,
    rgba(46, 240, 237, 0.2) 12px 12px;
  transition: 0.3s;
}

.cv:hover {
  box-shadow: 0 0 5px 3px rgba(0, 251, 255, 0.577);
}

.cv-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homepage-three {
  color: black;
  background-color: white;
  text-align: center;
  padding: 5rem 3rem;
}

.homepage-three h2 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 900;
}

.homepage-three .text-underline {
  margin: 0 auto;
  width: 10vw;
  border: 1px solid black;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.577);
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills img {
  margin-top: 1.5rem;
  width: 10vw;
}

.skill-container {
  margin-top: 3rem;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 0.5px solid black;
}

.skill-container ul {
  list-style: none;
  padding: 0;
}

.skill-container ul li {
  padding: 0.2rem;
}

.projects {
  color: black;
}

.projects a {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 900;
  padding: 1rem 3rem;
}

.projects-title {
  background-color: white;
  padding: 3rem;
}

.projects-title h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  color: black;
  font-size: 3rem;
  font-weight: 900;
}

.projects-title .text-underline {
  margin: 0 auto;
}

.project-container-1 {
  background-color: white;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-container-1 h3,
.project-container-1 h5 {
  margin: 0;
}

.project-container-1 h3,
.project-container-2 h3 {
  font-weight: 900;
  font-size: 2.5rem;
}

.project-container-1 h4,
.project-container-2 h4 {
  font-weight: 200;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-container-1 h5,
.project-container-2 h5 {
  font-weight: 200;
  font-size: 1.5rem;
}

.project-container-2 {
  background-color: white;
  padding: 5rem 3rem;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.project-container-2 h3,
.project-container-2 h5 {
  margin: 0;
}

.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-description p,
.project-description ul,
.project-description li {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: justify;
  margin: 1rem;
  line-height: 1.6rem;
}

.technologies {
  width: 20vw;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border: 1px solid rgb(0, 251, 255);
  box-shadow: 0 0 10px 3px rgba(116, 234, 255, 0.699),
    inset 0 0 10px 2px rgba(116, 234, 255, 0.699);
}

.technologies p {
  text-align: center;
}

.project-screenshots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-screenshots img {
  width: 50vw;
  margin: 1rem;
}

.contact {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact h2 {
  margin-top: 4rem;
  margin-left: 3rem;
  font-size: 2.5rem;
  font-weight: 200;
}

.contact-data {
  background-color: white;
  margin: 3rem;
  display: flex;
  flex-direction: row;
}

.contact-data div {
  margin-right: 2rem;
  font-size: 1.3rem;
  font-weight: 200;
}

@media (max-width: 55rem) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .footer a {
    margin: 2rem 1rem;
    padding: 0.5rem 2rem;
  }

  .homepage-two {
    flex-direction: column;
    align-items: center;
  }

  .homepage-two img {
    margin-top: 2rem;
  }

  .skills {
    flex-direction: column;
    align-items: center;
  }

  .skill-container {
    width: 60vw;
  }
}
